<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>

    <div class="jumbotron">
        <% if (typeof postsList !== "undefined") { postsList.forEach(post=> { %>
            <h3>You can see all posts here..</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <form action="/updatepost" method="POST">
                    <div class="card">
                        <div class="card-header font-weight-bold">
                            <input type="text" name="posttitle" class="form-control" value="<%= post.title %> " />
                        </div>
                        <div class="card-body">
                            <textarea name="postdesc" class="col-8 form-control"><%= post.desc %> </textarea> <br>
                         <a href="/"> <button class="btn btn-danger btn-sm mt-3 px-4"> Cancel</button> 
                                 <input type="hidden" name="editid" value="<%= post.id %> "> <br>
                                 <button class="btn btn-success btn-sm mt-1 px-4" name="updatebtn" type="submit">Update</button>
                              
                         </a>
                     </div>
                     </div> 
                </form>
                </li>
                        <% postsLists.forEach(data=>{ %> 
                            <li class="list-group-item">
                            <div class="card">
                                <div class="card-header font-weight-bold"><%= data.title %></div>
                                <div class="card-body"><%= data.desc %> <br>
                                    <a href="/postDelete/<%= data.id %> "> <button class="btn btn-danger btn-sm mt-3">Delete</button> 
                                        <form action="/" method="POST">
                                            <input type="hidden" name="editid" value="<%= data.id %> ">
                                            <button class="btn btn-success btn-sm mt-1 px-3" name="editbtn" type="submit">Edit</button>
                                        </form> 
                                    </a>
                                </div>
                                </div>  
                            </li>
                        <% }); %> 
                    </ul>
        <% });} else{ %>
         
   
        <h3>You can see all posts here..</h3>
        <ul class="list-group">
            <% postsLists.forEach(data=>{ %> 
                <li class="list-group-item">
                   <div class="card">
                       <div class="card-header font-weight-bold"><%= data.title %></div>
                       <div class="card-body"><%= data.desc %> <br>
                        <a href="/postDelete/<%= data.id %> "> <button class="btn btn-danger btn-sm mt-3">Delete</button> 
                            <form action="/" method="POST">
                                <input type="hidden" name="editid" value="<%= data.id %> ">
                                <button class="btn btn-success btn-sm mt-1 px-3" name="editbtn" type="submit">Edit</button>
                            </form> 
                        </a>
                    </div>
                    </div>  
                </li>
            <% }); %> 
          </ul>
        <% } %> 
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>